.progressRingCircle {
    transition: 0.35s stroke-dashoffset;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    animation: spin 2s infinite linear;
}

.progressRing {
}

.input {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 80px;
}
.wrapper {
    position: relative;
}

.percentage {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    font-weight: bold;
    cursor: pointer;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
