.form {
    padding: 20px;
    display: flex;
    align-items: flex-start;
    position: relative;
}

.body {
    margin: 0 10px;
    padding: 10px;
    width: calc(100% - 40px);

    transition: 0.3s;
}

.postField {
    outline: none;
    border: none;
}

.placeholder {
    color: var(--color-gray);
}

.btn {
    position: absolute;
    bottom: 20px;
    display: none;
    right: 20px;
}

.postField[contentEditable='true']:focus{
    & + .btn {
        display: block;
    }
    margin-bottom: 40px;
}
.postField[contentEditable='true']:empty:not(:focus):before {
    content: attr(data-placeholder);
    color: var(--color-gray);
    pointer-events: none;

    & .btn {
        display: none;
    }
}

.smile {
    & svg {
        cursor: pointer;
        fill: #a1a6b0;
    }

    &:hover svg {
        fill: #b1bac7;
    }

    position: absolute;
    top: 30px;
    right: 20px;
}

.emoji {
    position: absolute;
    z-index: 100;
    right: 0;
    top: 70px;
}

.imgPreview {
    max-width: 250px;
    position: relative;

    & img {
        height: auto;
        width: 100%;
        border-radius: var(--border-radius);
    }

    margin-right: 10px;

    & .close {
        background-color: rgba(51, 51, 51, 0.72);
        padding: 5px;
        position: absolute;
        border-radius: var(--border-radius);
        right: 0;
        cursor: pointer;
        & div {
            width: 8px;
            height: 8px;
            background: no-repeat 0 -40px;
            opacity: 0.85;
        }
        &:hover div {
            opacity: 1;
        }
    }
}

.uploadImgBlock {
    padding: 0px 20px 20px 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
