.header {
    height: 7vh;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 1;
    @media screen and (max-width: 768px) {
        display: none;
    }
    display: flex;
    justify-content: center;

    &::before {
        background-color: white;
        height: 200px;
        width: 200px;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.container {
    padding: 5px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: calc(80vw - 20px);
    @media screen and (max-width: 1024px) {
        width: 100%;
    }
    & div {
        display: flex;
    }
}

.btn {
    margin-right: 10px;
    height: 40px;
    width: 100px;
}
