.header {
    height: 7vh;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 1;

    @media screen and (max-width: 768px) {
        display: none;
    }
}

.container {
    padding: 5px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
    @media screen and (max-width: 1024px) {
        width: 100%;
    }
    margin: 0 auto;
    & div {
        display: flex;
    }
}

.btn {
    margin-right: 10px;
    height: 40px;
    width: 100px;
}
