.header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;

    & div {
        cursor: pointer;
    }
}
.post {
    padding: 20px;
}
.body {
    height: auto;
    white-space: pre-wrap;
    margin-bottom: 20px;
}
.footer {
    height: 30px;
    margin-top: 10px;
}

.avatar {
    margin-right: 10px;
}

.userName {
    font-weight: 700;
    color: var(--color-names);
}

.publishDate {
    color: #a1a6b0;
    font-size: 0.8rem;
}

.options {
    padding: 10px;
    position: absolute;
    right: 30px;
    top: 15px;
}

.likes {
    display: flex;
    align-items: center;

    & div {
        margin-right: 10px;
        font-weight: 600;
        font-size: 1.05rem;
    }
}

.attachments {
    position: relative;
    & div {
        outline: none;
    }
    height: auto;
    & img {
        margin: auto;
        border-radius: var(--border-radius);
        height: auto;
        width: 100%;
    }

    & ul li {
        width: 10px;
        height: 10px;
    }
    & ul {
        bottom: -16px;
    }
}

.sliderPaging {
    width: 48px;
    height: 48px;
    margin-right: 20px;
    & img {
        height: 100%;
        width: 100%;
    }
}

.slidesCounter {
    position: absolute;
    top:0;
    right: 0;
    z-index: 1000;
    color: white;
    background-color: black;
    border-radius: var(--border-radius);
}
